@switch (route) { @case ("/login") {
<div class="header-container">
  <img src="assets/images/logo.svg" alt="" />
</div>
}
@case ("/dashboard") {
    <div class="header-container">
        <img src="assets/images/logo_image.svg" alt="" />
        <button class="standard-button"><img src="assets/icons/logout.svg" alt="">Logout</button>
      </div>
}
@default {
<div class="header-container">
  <img src="assets/images/logo.svg" alt="" />
  <button class="standard-button">Login</button>
</div>
} }
