@switch (route) { @case ("/login") {
<div class="header-container">
  <img src="assets/images/logo.svg" alt="" />
</div>
}
@case ("/dashboard") {
    <div class="header-container">
        <img src="assets/images/logo_image.svg" alt="" />
        <button class="standard-button"><img src="assets/icons/logout.svg" alt="">Logout</button>
      </div>
}
@case ("/imprint") {
  <div class="header-container">
      <img src="assets/images/logo.svg" alt="" />
      <button class="standard-button transparent"><img src="assets/icons/arrow_back.svg" alt=""></button>
    </div>
}
@case ("/privacyPolicy") {
  <div class="header-container">
      <img src="assets/images/logo.svg" alt="" />
      <button class="standard-button transparent"><img src="assets/icons/arrow_back.svg" alt=""></button>
    </div>
}
@default {
<div class="header-container">
  <img src="assets/images/logo.svg" alt="" />
  <button class="standard-button">Login</button>
</div>
} }
