<app-header class="header" (redirectLogin)="logout()"></app-header>

<div class="background-black"></div>

<div
  class="background"
  [@hideShowTeaser]="teaserState"
  [@zoomThumbnailTrigger]="zoomState"
>
  <video
    autoplay
    class="hero-video"
    src="./../../../../assets/videos/teaser.mp4"
  ></video>
  <div class="curtain"></div>
</div>

<div class="centered">
  <div class="main-container">
    <div class="hero">
      <div class="title" [@hideShowTrigger]="state">Breakout</div>
      <p [@hideShowTrigger]="state">
        In a high-security prison, a wrongly convicted man formulates a
        meticulous plan to break out and prove his innocence. He must navigate a
        web of alliances and betrayals to reclaim his freedom and expose the
        truth.
      </p>
      <button
        class="standard-button"
        [@hideShowTrigger]="state"
        (click)="openVideo('/video-player')"
      >
        <img src="assets/icons/play_arrow.svg" alt="" /> Play
      </button>
    </div>

    <div class="rows">
      <div class="row">
        <span class="subtitle">New on Videoflix</span>
        <div class="thumbnails">
          <img
            src="./../../../../assets/thumbnails/rhythms_of_friendship.jpg"
            alt=""
            [@showThumbnailTrigger]="thumbnailState"
            (click)="showHero()"
          />
          <img
            src="./../../../../assets/thumbnails/hate_you-min.jpg"
            alt=""
          />
          <img
            src="./../../../../assets/thumbnails/majestic_whales-min.jpg"
            alt=""
          />
          <img
            src="./../../../../assets/thumbnails/majestic_whales-min.jpg"
            alt=""
          />
          <img
            src="./../../../../assets/thumbnails/majestic_whales-min.jpg"
            alt=""
          />
          <img
            src="./../../../../assets/thumbnails/majestic_whales-min.jpg"
            alt=""
          />
        </div>
      </div>

      <div class="row">
        <span class="subtitle">Documentary</span>
        <div class="thumbnails">
          <img
            src="./../../../../assets/thumbnails/rhythms_of_friendship-min.jpg"
            alt=""
          />
          <img
            src="./../../../../assets/thumbnails/rhythms_of_friendship-min.jpg"
            alt=""
          />
        </div>
      </div>

      <div class="row">
        <span class="subtitle">Drama</span>
        <div class="thumbnails">
          <img
            src="./../../../../assets/thumbnails/rhythms_of_friendship-min.jpg"
            alt=""
          />
          <img
            src="./../../../../assets/thumbnails/rhythms_of_friendship-min.jpg"
            alt=""
          />
        </div>
      </div>

      <div class="row">
        <span class="subtitle">Romance</span>
        <div class="thumbnails">
          <img
            src="./../../../../assets/thumbnails/rhythms_of_friendship-min.jpg"
            alt=""
          />
          <img
            src="./../../../../assets/thumbnails/rhythms_of_friendship-min.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer class="footer"></app-footer>
